@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

@layer base {
  .header {
    font-family: 'Archivo Black', sans-serif;
    color: white;
  }

  .header-outline {
    font-family: 'Archivo Black', sans-serif;
    -webkit-text-stroke: 1px white;
    color: transparent;
  }

  .file-upload {
    border: 1px solid #39383C;
  }

  .file-upload-container {
    max-width: 300px;
  }

  .bg-image {
    width: 210px;
  }

  .carousel-slide {
    width: 50vh;
    overflow-y: scroll;
  }

  .background {
    z-index: -10;
  }

  .gradient {
    background: -webkit-linear-gradient(135deg, #ffadfc, #6ec6f5);
  }

  .gradient-text {
    background: -webkit-linear-gradient(135deg, #ffadfc, #6ec6f5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .shine {
    -webkit-mask-image: linear-gradient(45deg,white 25%,rgba(0,0,0,.2) 50%,white 75%);
    mask-image: linear-gradient(45deg,white 25%,rgba(0,0,0,.2) 50%,white 75%);
    -webkit-mask-size: 800%;
    mask-size: 800%;
    -webkit-mask-position: 0;
    mask-position: 0;
  }

  .shine:hover {
    transition: mask-position 2s ease,-webkit-mask-position 2s ease;
    -webkit-mask-position: 120%;
    mask-position: 120%;
    opacity: 1;
  }

  .meter {
    box-sizing: content-box;
    height: 15px; /* Can be anything */
    width: 90%;
    position: relative;
    /* background: #555; */
    border-radius: 25px;
    padding: 2px;
    border: 1px solid #39383C;
  }

  .meter > span {
    display: block;
    height: 100%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    /* background-color: rgb(76, 159, 247); */
    /* background: linear-gradient(
      center bottom,
      rgb(244, 104, 239) 27%,
      rgb(88, 198, 253) 99%
    ); */
    background: linear-gradient(175deg,
        rgb(244, 104, 239),
        rgb(88, 198, 253)
        );
    position: relative;
    overflow: hidden;
  }
}


body {
  margin: 0;
  font-family: 'Courier Prime';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1D1D1D;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
