@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

@layer base {
  .header {
    font-family: 'Archivo Black', sans-serif;
    color: white;
  }

  .header-outline {
    font-family: 'Archivo Black', sans-serif;
    -webkit-text-stroke: 1px white;
    color: transparent;
  }
  
  .file-upload {
    border: 1px solid #39383C;
  }

  .file-upload-container {
    max-width: 300px;
  }

  .bg-image {
    width: 210px;
  }

  .carousel-slide {
    width: 50vh;
    overflow-y: scroll;
  }

  .background {
    z-index: -10;
  }

  .gradient {
    background: -webkit-linear-gradient(135deg, #ffadfc, #6ec6f5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}


body {
  margin: 0;
  font-family: 'Courier Prime';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1D1D1D;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
